
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Facturación</title>
</head>
<body>
    <h1>FacturaClick</h1>
	<div class="navbar">
		<div class="navbar-container">
			<a href="/inicio">Inicio</a>
			<a href="/clientes">Clientes</a>
			<a href="/facturas">Facturas</a>
			<a href="/registro">Resistro de compras</a>
            <a href="/cuenta">Cuenta</a>
			<a href="/index">Cerrar Sesión</a>
		</div>
	</div>
    <h2>Registro de Facturas.</h2>
    <table>
        <thead>
            <tr>
                <th>N.Factura</th>
                <th>F.Emisión</th>
                <th>Nombre del Cliente</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Método de Pago</th>
            </tr>
        </thead>
        <tbody>
            <!--para agregar filas de datos -->
        </tbody>
    </table>

</body>
</html>